# Dependencies
node_modules/

# Build output
dist/

# Generated data (recreated by `npm run convert`)
public/data.json

# Editor & OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.*
